.feature-wrapper {
	margin-top: 50px;
}

#nav > ul {
	background: white;
}

#nav > ul > li > span, #nav > ul > li > a {
	color: gray;
}

#nav > ul > li > span, #nav > ul:hover > li:hover > a:hover {
	color: #f35858;
}

/*#nav > ul > li > span, #nav > ul > li > a:hover {
	color: #f35858;
}*/

.pull-left {
	float: left;
}

#logo {
	left: 0;
	margin: 10px 0 0 0;
	background: none;
	border: none;
}
#logo a {
	background: none;
	border: none;
}

#header-wrapper {
	background: black;
	background-image: url('images/header.svg');
	background-image: url('images/header.svg'), -moz-linear-gradient(75deg, #132A5B 15%, #132A5B 55%);
	background-image: url('images/header.svg'), -webkit-linear-gradient(75deg, #132A5B 15%, #132A5B 55%);
	background-image: url('images/header.svg'), -o-linear-gradient(75deg, #132A5B 15%, #132A5B 55%);
	background-image: url('images/header.svg'), -ms-linear-gradient(75deg, #132A5B 15%, #132A5B 55%);
	background-image: url('images/header.svg'), linear-gradient(75deg, #132A5B 15%, #132A5B 55%);
}


#hero .button {
	color: #C32431;
}

#hero .button:hover {
	color: white;
}

.image-wrapper.first:before {
	max-width: 100%;
}