h1 {
	font-size: 2.5em;
	font-weight: bold;
	color: #132A5B;
	margin-bottom: 40px;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 30px;
}
.emphasis {
	color: #f35858;
}
.subtitle {
	font-weight: bold;
}
strong {
	font-weight: bold;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}

table {
	width: 75%;
	margin: 0 auto 25px;
}
table tbody tr {
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
}
table tbody td {
	border-right: 1px solid #333;
	padding: 10px;
}



form input.text, form select, form textarea {
	padding: 5px;
}

input {
	font-size: initial;
}

#contact-form .row > * {
	padding-bottom: 10px;
}

.feature-wrapper {
	margin-top: 50px;
}
ul.bullets > li {
	margin-left: 40px;
	list-style-type: disc;
}

#nav > ul {
	background: white;
}

#nav > ul > li > span, #nav > ul > li > a {
	color: gray;
}

#nav > ul > li > span, #nav > ul:hover > li:hover > a:hover {
	color: #f35858;
}

/*#nav > ul > li > span, #nav > ul > li > a:hover {
	color: #f35858;
}*/

.pull-left {
	float: left;
}

#logo {
	left: 0;
	margin: 10px 0 0 0;
	background: none;
	border: none;
}
#logo a {
	background: none;
	border: none;
}

#header-wrapper {
	background: black;
	background-image: url('images/header.svg');
	background-image: url('images/header.svg'), -moz-linear-gradient(75deg, #132A5B 15%, #132A5B 55%);
	background-image: url('images/header.svg'), -webkit-linear-gradient(75deg, #132A5B 15%, #132A5B 55%);
	background-image: url('images/header.svg'), -o-linear-gradient(75deg, #132A5B 15%, #132A5B 55%);
	background-image: url('images/header.svg'), -ms-linear-gradient(75deg, #132A5B 15%, #132A5B 55%);
	background-image: url('images/header.svg'), linear-gradient(75deg, #132A5B 15%, #132A5B 55%);
}


#hero .button {
	color: #C32431;
}

#hero .button:hover {
	color: white;
}

.image-wrapper.first:before {
	max-width: 100%;
}