.feature-wrapper {
	margin-top: 50px;
}

#nav > ul {
	background: white;
}

#nav > ul > li > span, #nav > ul > li > a {
	color: gray;
}

#nav > ul > li > span, #nav > ul:hover > li:hover > a:hover {
	color: #f35858;
}

/*#nav > ul > li > span, #nav > ul > li > a:hover {
	color: #f35858;
}*/

.pull-left {
	float: left;
}

#logo {
	left: 0;
	margin: 10px 0 0 0;
	background: none;
	border: none;
}
#logo a {
	background: none;
	border: none;
}