<!DOCTYPE HTML>
<html>
	<head>
		<title>National Payment Systems</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
		<meta name="description" content="National Payment Systems" />
		<meta name="keywords" content="payment processing, emv, emv compliance, emv requirements, pci compliance, preparing for emv" />
		<meta property="og:title" content="National Payment Systems" />
		<meta property="og:type" content="Payment Processing" />
		<meta property="og:url" content="http://natpaysys.com" />
		<meta property="og:image" content="http://natpaysys.com/images/npslogo.png" />

		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600" rel="stylesheet" type="text/css" />
		<!-- <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'> -->
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.dropotron.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-panels.min.js"></script>
		<script src="/js/init.js"></script>
		<script src="/js/main.js"></script>
		<noscript>
			<link rel="stylesheet" href="/css/skel-noscript.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-n1.css" />
		</noscript>
		<link rel="stylesheet" type="text/css" href="/css/custom.css">
	</head>
	
	<% var className = (current.source == 'index') ? "homepage" : current.source; %>	
	<body class="<%- className %>">

		<!-- Header Wrapper -->
		<%- partial("_shared/header") %>
			
		<div id="content">
			<%- yield %>
		</div>
		
		<!-- Footer Wrapper -->
		<%- partial("_shared/footer") %>

	</body>
</html>