Statement Analysis
At NPS we understand how misleading and confusing the pricing in our industry can be.  Let us take the uncertainty out of your decision making.  We will provide a Five-Fold Statement Analysis.  We will review your statement and provide you with these facts: 

Pricing Model – Often times the way you are processing credit cards can affect the cost.  We will identify the current model and make suggestions on the most cost effective model for your business.

Discount Rate – This can be a difficult concept to grasp.  With everyone throwing low rates around to attract merchants it’s common for you to be paying considerably more than the qualified rate that you were quoted.

Transaction Cost – This includes the cost per item for each transaction.  This can include many elements such as:  AVS, gateway fee, non-qualified item fees, etc.  

Dues and Assessment – These are fixed costs set by the card brands (i.e. Visa and MaterCard).  This is an area where processors may sneak in additional mark up without disclosing it to the merchant.  

Fees and surcharges – This is very ambiguous and arbitrary.  Processors may slide in a fee that isn’t really associated with any service provided but just increases their revenue.  We will identify whether a fee is reasonable or not.


	<ul class="actions">
		<li><a href="#" class="button">Upload Statement</a></li>
	</ul>
