<div class="wrapper subsolutions">
    <div class="container">

        <div class="row">
            <section class="12u">

                <div class="heroimg"></div>

                <h1>Introducing First Data Solutions Featuring Clover&reg; Station</h1>

                <p>Clover&reg; Station helps you track inventory, manage employees, build lasting customer relationships, and accept payments with ease — all on one dynamic system designed for businesses just like yours.</p>

                [ Image ]

                [ Videos ]

                <h2>Tailored to your heart’s content.</h2>

                <p>The ability to personalize your Clover Station with apps truly sets our system apart. You can exponentially grow your system’s capabilities with the ever-expanding Clover App Market, ensuring that Clover Station evolves with your business for years to come. Explore the App Market — we’re continually adding new apps for your every need.</p>

            </section>
        </div>

    </div>

    <!-- Start of Brightcove Player -->

    <div style="display:none">

    </div>

    <!--
    By use of this code snippet, I agree to the Brightcove Publisher T and C 
    found at https://accounts.brightcove.com/en/terms-and-conditions/. 
    -->

    <script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>

    <object id="myExperience3812337549001" class="BrightcoveExperience">
      <param name="bgcolor" value="#FFFFFF" />
      <param name="width" value="480" />
      <param name="height" value="270" />
      <param name="playerID" value="3866869032001" />
      <param name="playerKey" value="AQ~~,AAAA2uzqPsk~,x6biOaTywG9KEV50937lL_K67foR3Kxl" />
      <param name="isVid" value="true" />
      <param name="isUI" value="true" />
      <param name="dynamicStreaming" value="true" />
      <param name="secureConnections" value="true" />
    <param name="secureHTMLConnections" value="true" />
      
      <param name="@videoPlayer" value="3823530879001" />
    </object>

    <!-- 
    This script tag will cause the Brightcove Players defined above it to be created as soon
    as the line is read by the browser. If you wish to have the player instantiated only after
    the rest of the HTML is processed and the page load is complete, remove the line.
    -->
    <script type="text/javascript">brightcove.createExperiences();</script>

    <!-- End of Brightcove Player -->
</div>
