<div id="doc-submit" class="container" style="padding: 100px;">
	<header class="major">
		<h2>Upload Documents</h2>
	</header>
	<form method="post" id="doc-submit-form" action="/doc-submit" enctype="multipart/form-data">
		<div class="row">
			<section class="12u">
				<div class="row">
					<div class="12u">
						<label for="">Company Name</label>
						<input name="company" type="text" class="text" />
					</div>
					<div class="12u">
						Upload a copy of your most recent processing statement
						<input name="document" type="file" class="text" />
					</div>
				</div>
			</section>
			<section class="12u">
				<div class="row">
					<div class="12u text-center">
						<button type="submit" href="#" id="doc-form-submit" class="button submit-button">Send</button>
					</div>
				</div>
			</section>
		</div>
	</form>		
</div>