<div class="wrapper" id="emv-wrapper">

    <section class="container">

        [Picture with countdown clock]

        <header class="major">
            <h2>Avoid liability for card fraud with EMV™-enabled terminals.</h2>
        </header>

        <p>Credit card fraud losses, which topped $10 billion in 2014, typically are the responsibility of the card issuer. After October 1, 2015, everything changes. Fraudulent chip card transactions on non-EMV compliant terminals will result in the liability shifting to merchants, putting their businesses and reputations at risk. By embracing EMV technology, you’ll be protecting your business from the liability and your customers will feel better than ever about doing business with you.</p>

    </section>

    <section id="emv-hero" class="container">
        <header>
            <h2>Wait...What’s EMV?</h2>
        </header>
        <p>EMV stands for Europay, Mastercard®, and Visa®, and is the gold standard of payment transaction processing for most of the world. This year, EMV chip cards – credit cards with small microchips embedded in them - are coming to the U.S. EMV improves payment security by making it harder to use cards fraudulently or even duplicate them.</p>
        <ul class="actions">
            <li><a href="/emv-detail" class="button">Learn More</a></li>
        </ul>
    </section>

    <section class="container">

        <h3>No more swiping – just a simple dip or tap.</h3>

        <p>Chip card payments are different, so you need to know what to expect. Instead of a cashier swiping a credit or debit card, the customer will now either “dip” the card into an EMV slot or “tap” the card on your sales terminal – either way the consumer keeps the card in his or her possession throughout the transaction.</p>

    </section>

    <section id="emv-hero2" class="container">
        <header>
            <h2>Time to make some changes.</h2>
        </header>
        <p>Chances are EMV is still somewhat new to you, so figuring out what to do next may be unclear. First it’s important to understand what EMV means for you and your business – it’s a way to add more security to in-store transactions. But to do that, you may need to make some hardware changes, as most terminals are not ready to take EMV payments.</p>

    </section>

</div>
