<!-- Features 1 -->
<div class="wrapper">
	<div class="container">
		<div class="row">
			<section class="6u feature">
				<div class="image-wrapper first">
					<a href="/solutions" class="image full first"><img src="images/coffee.jpg" alt="" /></a>
				</div>
				<header>
					<h2><a href="/solutions">Simple Competitive Solutions</a></h2>
					<!-- <h2><a href="/pricing">Simple Competitive Pricing</a></h2> -->
				</header>
				<p>Our pricing is transparent and easy to understand and more than likely you are currently paying much more than you think you are.</p>
			</section>

			<section class="6u feature">
				<div class="image-wrapper">
					<a href="/security" class="image full"><img src="images/confidence.jpg" alt="" /></a>
				</div>
				<header>
					<h2><a href="/security">Cutting Edge Fraud Protection</a></h2>
				</header>
				<p>Don't wait for thousands of customers credit cards to be exposed to find out you need better credit card security. Let us set you up with easy to use Fraud and Security measures to protect your reputation.</p>
			</section>
		</div>
	</div>
</div>

<!-- Promo -->
<div id="promo-wrapper">
	<section id="promo">
		<!-- Statement Analysis -->
		<%- partial("_shared/partials/promo-analysis") %>
	</section>
</div>

<!-- Features -->
<%- partial("_shared/partials/features") %>


