Insightics  https://www.firstdata.com/en_us/smallbusiness/insightics.html

[ Picture ]

<h1>Introducing the Insightics&#8480; Solution</h1>

<h3>Surprising insights made simple.</h3>

Uncover a whole new side to your business with the Insightics&#8480; Solution. Insightics transforms your payments data into valuable insights about your customers, sales and similar businesses—helping you better understand and grow your business.


<div class="">
	<!-- Start of Brightcove Player -->


	<!--
	By use of this code snippet, I agree to the Brightcove Publisher T and C 
	found at https://accounts.brightcove.com/en/terms-and-conditions/. 
	--> 

	<script language="JavaScript" type="text/javascript" src="https://sadmin.brightcove.com/js/BrightcoveExperiences.js"></script>
		<object id="myExperience3672993244001" class="BrightcoveExperience">
		<param name="bgcolor" value="#FFFFFF" />
		<param name="width" value="1440" />
		<param name="height" value="810" />
		<param name="playerID" value="940636285001" />
		<param name="playerKey" value="AQ~~,AAAA2uzqPsk~,x6biOaTywG-jQsJXXUbfAgrJalJC0RhP" />
		<param name="isVid" value="true" />
		<param name="isUI" value="true" />
		<param name="dynamicStreaming" value="true" />
	  <param name="secureConnections" value="true" />
		<param name="secureHTMLConnections" value="true" />
	  <param name="@videoPlayer" value="3672993244001" />
	</object>

	<!-- 
	This script tag will cause the Brightcove Players defined above it to be created as soon
	as the line is read by the browser. If you wish to have the player instantiated only after
	the rest of the HTML is processed and the page load is complete, remove the line.
	--> 
	<script type="text/javascript">brightcove.createExperiences();</script> 

	<!-- End of Brightcove Player -->

	
</div>


    Drum up new business.

Easily see your customers’ spending patterns so you can find more like them.

    Maximize your marketing.

Find profiles of your customers and segment by categories like new, repeat or local — so you can market more effectively.

    Get real results.

Understand the impact of your marketing efforts and receive insights that will help improve your future efforts.

    Check out similar businesses.

Tired of canvassing the neighborhood to see if you’re the only one having a slow day? See how you measure up by comparing sales and seeing how consumers are spending at other businesses like yours.

