<div class="wrapper subsolutions">
    <div class="container">

        <div class="row">
            <section class="12u">

                <div class="heroimg"></div>

                <h1>Introducing the Perka™ Solution</h1>

                <h3>A little loyalty. A lot of happy.</h3>

                <p>The Perka™ solution connects you directly to your customers over their mobile phones, allowing you to run the same kinds of sophisticated loyalty marketing programs as nationwide chains—at a fraction of the cost. You can turn occasional visitors into loyal regulars with offers and rewards they’ll love, because when you keep customers happy, they’ll keep coming back.</p>
            </section>
        </div>
    </div>

    <div id="promo-wrapper" class="promo-perka">
        <div id="promo">
            <h2>A little love goes a long way.</h2>

            <p>The Perka solution delivers the personalized deals and attention your customers crave in a way that’s fun for all. <br />You’ll bring in new customers and get current customers to come back again and again.</p>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <section class="12u">
                <h2>Rewards from the heart.</h2>

                <p>Show your customers how much you care with Perka, your personalized loyalty and marketing solution. It’s flexible and easy to use, so you can give customers exactly what they want.</p>

            </section>
        </div>
    </div>

    <div class="video-wrapper">
        <div class="video">
                <script language="JavaScript" type="text/javascript" src="https://sadmin.brightcove.com/js/BrightcoveExperiences.js"></script>
                <object id="myExperience3688797764001" class="BrightcoveExperience">
                <param name="bgcolor" value="#FFFFFF" />
                <param name="width" value="1200" />
                <param name="height" value="610" />
                <param name="playerID" value="3921491110001" />
                <param name="playerKey" value="AQ~~,AAAA2uzqPsk~,x6biOaTywG_x3JLumi-uqyA5BE8tZaqb" />
                <param name="isVid" value="true" />
                <param name="isUI" value="true" />
                <param name="dynamicStreaming" value="true" />
                <param name="secureConnections" value="true" />
                <param name="secureHTMLConnections" value="true" />
                <param name="@videoPlayer" value="3688797764001" />
                </object>
                <script type="text/javascript">brightcove.createExperiences();</script>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <section class="12u">
                <h2>The customer adoration program.</h2>
                <p>Easy to use, affordable, and as familiar as an old-fashioned punchcard, the Perka solution helps you capture the potential of big-brand loyalty marketing with the personal touch that only a store like yours can offer. Keep your customers happy and bring new ones in the door, without adding to your workday.</p>
            </section>
        </div>

        <div class="row">
            <section class="6u">
                <h5>Get right up and running.</h5>
                <p>From in-store materials to social media support, we make sure you have everything you need to get your customers excited and your rewards program rolling.</p>
            </section>
            <section class="6u">
                <h5>Share the love and see the results.</h5>
                <p>The Perka app links customer rewards to real transactions, so you can track how effectively your customers are engaging with your loyalty program and which perks are most popular.</p>
            </section>
            <section class="6u">
                <h5>Connect with your customers anytime, anywhere.</h5>
                <p>Send special offers directly to your customers’ mobile phones over the Perka app, and reach them whether they’re in the neighborhood or across town.</p>
            </section>
            <section class="6u">
                <h5>Reward sales, not visits.</h5>
                <p>Some loyalty programs give out points for just showing up. With Perka, you can validate purchases at the register to grant rewards only to your best, paying customers.</p>



            </section>
        </div>

    </div>
</div>
