<div class="wrapper">

	<div class="container">
		<div class="row">

			<section class="12u">
				<h1>Pricing</h1>
			</section>
		</div>
		<div class="row">
			<section class="7u">

				<p>Many companies have built their business model on making the pricing of credit card processing complicated and intentionally confusing. Almost every business owner we sit down with is <span class="emphasis">paying substantially more than they thought they were</span>.</p>
				<p>
					<span class="subtitle">We are different.</span> 
					Our pricing is as simple and transparent as possible, but even if you do not understand something, we are always just a phone call away. <span class="emphasis">Rates are generally simple or competitive but not both.</span> We are more than willing to show you exactly what you are paying and how you can reduce your bill. We are clear about how your bill breaks down and if we cannot save you money we will tell you so.
				</p>

				<h3>
					Elements of Pricing
				</h3>
				<p>
					When asked merchants most often say the most frustrating and confusing element of their processing is understanding the cost.  At NPS we have removed the guess work and have provided a transparent, easy to understand pricing model.  There are three elements to the cost of processing: interchange, assessments and markup.  Two of these are fixed costs the markup is the only area of negotiation for the merchant when setting rates.
					Interchange and assessments are the same for all processors and account for about 90% of the total cost to process.. No processor can give you a lower rate or a better deal on base costs. For example, First Data (the largest credit card processor) pays the same interchange fees and assessments as a small local bank.
				</p>

			</section>
			<section class="5u">
				<img src="/images/coffee.jpg" class="image full" alt="" />
			</section>

		</div>
		<div class="row">

			<section class="12u">

				<h3>Pricing Models</h3>

				<p>There are 4 major types of pricing models for credit card processing: </p>

			</section>
		</div>
		<div class="row">
			<section class="3u">
				<a href="#interchange-plus" class="button 12u">Interchange Plus</a>
			</section>
			<section class="3u">
				<a href="#tiered" class="button 12u">Tiered</a>
			</section>
			<section class="3u">
				<a href="#flat-rate" class="button 12u">Flat Rate</a>
			</section>
			<section class="3u">
				<a href="#ebb" class="button 12u">EBB</a>
			</section>
		</div>
		<div class="row">
			<section class="12u">
				<p>To understanding credit card processing fees, there are a few terms necessary
			</section>
		</div>

		<div class="row">
			<section class="12u">
				<div class="pricing-tables">
					<%- partial("_shared/partials/pricing-example") %>
				</div>
			</section>
		</div>




	</div>
</div>