<div class="wrapper">

	<div class="container">
		<div class="row">

			<section class="12u">
				<h1>Pricing</h1>

				<p>Many companies have built their business model on making the pricing of credit card processing complicated and intentionally confusing. Almost every business owner we sit down with is <span class="emphasis">paying substantially more than they thought they were</span>.</p>


				<p><span class="subtitle">We are different.</span> Our pricing is as simple and transparent as possible, but even if you do not understand something, we are always just a phone call away. <span class="emphasis">Rates are generally simple or competitive but not both.</span> We are more than willing to show you exactly what you are paying and how you can reduce your bill. We are clear about how your bill breaks down and if we cannot save you money we will tell you so.</p>

				<h3>Pricing Models</h3>

				<p>There are 4 major types of pricing models for credit card processing: </p>

			</section>
		</div>
		<div class="row">
			<section class="3u">
				<a href="#" class="button 12u">Interchange Plus</a>
			</section>
			<section class="3u">
				<a href="#" class="button 12u">Tiered</a>
			</section>
			<section class="3u">
				<a href="#" class="button 12u">Flat Rate</a>
			</section>
			<section class="3u">
				<a href="#" class="button 12u">Enhanced Billback</a>
			</section>
		</div>
		<div class="row">
			<section class="12u">

				<h3>Interchange Plus - our pricing model</h3>

				<p></p>

			</section>
		</div>


	</div>
</div>