
<div class="wrapper boxes">
	<div class="container">

		<div class="row">

			<section class="12u">
				<h1>Extra Ordinary Solutions <br />for Extraordinary Businesses</h1>
				<p>Powerful combinations of business management hardware, software, and security for businesses ready to grow.</p>
			</section>

		</div>
		<div class="row">

			<section class="6u">
				<div class="box gridbox">
					<img src="/images/logo-insightics.jpg" alt="Insightics&#x2120;" class="solution-logo" />
					<h2>Discover the possibilities.</h2>
					<p>What if you could uncover an entirely new side to your business? The Insightics&#x2120; solution uses your transaction data to deliver surprising insights that will help your business reach its full potential.</p>
					<a href="/insightics" class="button">Learn About Insightics&#x2120;</a>
				</div>
			</section>

			<section class="6u">
				<div class="box gridbox">
					<img src="/images/logo-perka.jpg" alt="Perka&trade;" class="solution-logo" />
					<h2>Reward your regulars.</h2>
					<p>What if your business could go wherever your customers go? With the Perka&trade; solution you can easily market your business and connect with customers to build lasting, rewarding relationships.</p>
					<a href="/perka" class="button">Learn About Perka&trade;</a>
				</div>
			</section>

		</div>
		<div class="row">

			<section class="12u">
				<div class="box row ">

					<div class="5u">
						<img src="/images/logo-transarmor.png" alt="TransArmor&reg;" class="solution-logo" />
					</div>

					<div class="7u">
						<h2>Don't risk everything.</h2>
						<p>Security threats are a reality for any business that accepts credit or debit card payments, and just one breach can be crippling. Reduce the risk with the TransArmor&reg; Solution, a simple and complete way to protect your business and stay compliant with ever-changing payment card industry requirements.</p>
						<a href="/transarmor" class="button">Learn About TransArmor&reg;</a>
					</div>

				</div>

			</section>

		</div>
		<div class="row">

			<section class="6u ">
				<div class="box gridbox">
					<img src="/images/logo-clover.jpg" alt="Clover&reg;" class="solution-logo" />
					<h2>Take your business further.</h2>
					<p>Running a business can be complicated - from accepting payments and managing inventory to keeping track of your customers and more. Clover&reg; simplifies your operations so you can focus on what matters most.</p>
					<a href="/clover" class="button">Learn About Clover&reg;</a>
				</div>
			</section>

			<section class="6u ">
				<div class="box gridbox">
					<img src="/images/logo-payeezy.jpg" alt="Payeezy&#x2120;" class="solution-logo" />
					<h2>Expand your presence.</h2>
					<p>Growing your business means continually reaching new customers in new ways. With Payeezy&#x2120; eCommerce Solution you get the simplest way to accept payments and grow sales online, helping you reach a whole new audience.</p>
					<a href="/payeezy" class="button">Learn About Payeezy&#x2120;</a>
				</div>
			</section>

		</div>

	</div>
</div>

