<div id="footer" class="container">

	<header class="major">
		<h2>We want to hear from you</h2>
		<span>Let us tell you how <br> National Payment Systems can save you money.</span>
	</header>

	<form method="post" id="contact-form" action="/contact" enctype="multipart/form-data">
		<div class="row">

			<section class="6u">
				<div class="row half">
					<div class="12u">
						<label for="">Name</label>
						<input name="name" type="text" class="text" />
					</div>
					<div class="12u">
					  <label for="">Business Name</label>
						<input name="businessName" type="text" class="text" />
					</div>
					<div class="12u">
						<label for="">Phone</label>
						<input name="phone" type="text" class="text" />
					</div>
					<div class="12u">
						<label for="">Email</label>
						<input name="email" type="text" class="text" />
					</div>
					<div class="12u">
						<label for="">Zip</label>
						<input name="zip" type="text" class="text" />
					</div>
				</div>
			</section>

			<section class="6u">
				<div class="row half">
					<div class="12u">
						<label for="">Does your business currently accept credit cards?</label>
						<input name="cardsAccepted" value="Yes" type="radio" /> Yes
						<input name="cardsAccepted" value="No" type="radio" /> No
					</div>
					<div class="12u">
						<label>How did you hear about us?</label>
						<input name="referralNumber" type="text" class="text" />
					</div>
					<div class="12u">
						Upload a copy of your most recent processing statement
						<input name="statement" type="file" class="text" />
					</div>
					<div class="12u">
						<label>Tell us about yourself</label>
						<textarea name="message"></textarea>
					</div>

				</div>
			</section>

			<section class="12u">
				<div class="row">
					<div class="12u text-center">
						<button type="submit" href="#" id="contact-form-submit" class="button submit-button">Send</button>
					</div>
				</div>
			</section>

		</div>
	</form>		

</div>