<div id="footer" class="container">

	<header class="major">
		<h2>Get More Information</h2>
		<span>Let us tell you how <br> National Payment Systems can save you money.</span>
	</header>

	<div class="row">

		<form method="post" action="/contact" enctype="multipart/form-data">

			<section class="5u">
				<div class="row half">
					<div class="12u">
						<label for="">Name</label>
						<input name="name" type="text" class="text" />
					</div>
					<div class="12u">
					  <label for="">Business Name</label>
						<input name="businessName" type="text" class="text" />
					</div>
				</div>
				<div class="row half">
					<div class="6u">
						<label for="">Phone</label>
						<input name="phone" type="text" class="text" />
					</div>
					<div class="6u">
						<label for="">Email</label>
						<input name="email" type="text" class="text" />
					</div>
				</div>
				<div class="row half">
					<div class="6u">
						<label for="">Zip</label>
						<input name="zip" type="text" class="text" />
					</div>
				</div>
			</section>

			<section class="5u -2u">
				<div class="row half">
					<div class="12u">
						<label for="">Does your business currently accept credit cards?</label>
						<input name="accept-cards" placeholder="Phone" value="Yes" type="radio" /> Yes
						<input name="accept-cards" placeholder="Phone" value="No" type="radio" /> No
					</div>
					<div class="12u">
						<label>Referral number or partner association name</label>
						<input name="referralNumber" type="text" class="text" />
					</div>
				</div>
				<div class="row half">
					<div class="12u">
						Upload a copy of your most recent processing statement
						<input name="statement" type="file" class="text" />
					</div>
				</div>
			
				<div class="row half">
					<div class="12u">
						<label>Message</label>
						<textarea name="message"></textarea>
					</div>
				</div>
				<div class="row half">
					<div class="12u">
						<ul class="actions">
							<li><button type="submit" href="#" class="button">Send</button></li>
							<!-- <li><a href="#" class="button">Clear Form</a></li> -->
						</ul>
					</div>
				</div>
			</section>

		</form>		
	</div>

</div>