<div id="copyright" class="container">

	<ul class="menu">
		<li>National Payment Systems, Inc. is a registered ISO of Wells Fargo Bank, N.A., Walnut Creek, CA. 
		<br />
		&copy; 
			<script language="javascript" type="text/javascript">
				var today = new Date()
				var year = today.getFullYear()
				document.write(year)
			</script> 
		National Payment Systems, Inc. All rights reserved.</li>
	</ul>
	
</div>