<div class="container feature-wrapper">
	<div class="row features">
		<section class="4u feature">
			<div class="image-wrapper first">
				<a href="http://ineedchemicalx.deviantart.com/art/Time-goes-by-too-fast-335982438" class="image full"><img src="images/pic03.jpg" alt="" /></a>
			</div>
			<header>
				<h3>Transparency</h3>
			</header>
			<p>We provide transparent, competitive pricing and keep our customers up-to-date with personal service and the leading edge of technology.</p>
			<ul class="actions">
				<li><a href="/analysis" class="button">Understand Your Processing Statement</a></li>
			</ul>
		</section>
		<section class="4u feature">
			<div class="image-wrapper">
				<a href="http://ineedchemicalx.deviantart.com/art/Kingdom-of-the-Wind-348268044" class="image full"><img src="images/pic04.jpg" alt="" /></a>
			</div>
			<header>
				<h3>Dolor sit consequat magna</h3>
			</header>
			<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur 
			vel sem sit dolor neque semper magna lorem ipsum.</p>
			<ul class="actions">
				<li><a href="#" class="button">Elevate my awareness</a></li>
			</ul>
		</section>
		<section class="4u feature">
			<div class="image-wrapper">
				<a href="http://ineedchemicalx.deviantart.com/art/Elysium-355393900" class="image full"><img src="images/pic05.jpg" alt="" /></a>
			</div>
			<header>
				<h3>Dolor sit consequat magna</h3>
			</header>
			<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur 
			vel sem sit dolor neque semper magna lorem ipsum.</p>
			<ul class="actions">
				<li><a href="#" class="button">Elevate my awareness</a></li>
			</ul>
		</section>
	</div>
</div>
