<div class="container feature-wrapper">
	<div class="row features">
		<section class="4u feature">
			<div class="image-wrapper first">
				<a href="/analysis" class="image full"><img src="images/wired.jpg" alt="" /></a>
			</div>
			<header>
				<h3>Technology</h3>
			</header>
			<p>We provide transparent, competitive pricing and keep our customers up-to-date with personal service and the leading edge of technology.</p>
			<ul class="actions">
				<li><a href="/analysis" class="button">Learn More</a></li>
			</ul>
		</section>
		<section class="4u feature">
			<div class="image-wrapper">
				<a href="/about#communication" class="image full"><img src="images/bar.jpg" alt="" /></a>
			</div>
			<header>
				<h3>Communication</h3>
			</header>
			<p>We want to earn your business with honesty and integrity and keep it with superior service.</p>
			<ul class="actions">
				<li><a href="/about#communication" class="button">Learn More</a></li>
			</ul>
		</section>
		<section class="4u feature">
			<div class="image-wrapper">
				<a href="/about" class="image full"><img src="images/rope.jpg" alt="" /></a>
			</div>
			<header>
				<h3>Confidence</h3>
			</header>
			<p>We are backed by Wells Fargo and First Data. Your credit card processing goes through the same banks.</p>
			<ul class="actions">
				<li><a href="/about" class="button">Learn More</a></li>
			</ul>
		</section>
	</div>
</div>
