<div class="container feature-wrapper">
	<div class="row features">
		<section class="4u feature">
			<div class="image-wrapper first">
				<a href="/solutions" class="image full"><img src="images/computer.jpg" alt="" /></a>
			</div>
			<header>
				<h3><a href="/solutions">Technology</a></h3>
				<!-- <h3><a href="/analysis">Technology</a></h3> -->
			</header>
			<p>We provide transparent, competitive pricing and keep our customers up-to-date with personal service and the leading edge of technology.</p>
		</section>
		<section class="4u feature">
			<div class="image-wrapper">
				<a href="/about" class="image full"><img src="images/bar.jpg" alt="" /></a>
			</div>
			<header>
				<h3><a href="/about">Communication</a></h3>
			</header>
			<p>We want to earn your business with honesty and integrity and keep it with superior service.</p>
		</section>
		<section class="4u feature">
			<div class="image-wrapper">
				<a href="/security" class="image full"><img src="images/focus.jpg" alt="" /></a>
			</div>
			<header>
				<h3><a href="/security">Confidence</a></h3>
			</header>
			<p>We are backed by Wells Fargo and First Data. Your credit card processing goes through the same banks.</p>
		</section>
	</div>
</div>
