<!-- Intro Title Slide for Home Page -->
<section id="hero" class="container">
	<header>
		<h2>What does October 1st Mean for You?</h2>
	</header>
	<p>We can help you transition to meet legal requirements for accepting EMV credit cards <br/> by October 1, 2015, including deals on our newest EMV-compliant card scanners.</p>
	<ul class="actions">
		<li><a href="/emv" class="button">Learn about EMV Legal Requirements</a></li>
	</ul>
</section>
