<!-- Intro Title Slide for Home Page -->
<section id="hero" class="container">
	<header>
		<h2>National Payment Systems</h2>
	</header>
	<p>We provide transparent, competitive pricing and keep our customers up-to-date with personal service and the leading edge of technology</p>
	<ul class="actions">
		<li><a href="/emv" class="button">Learn About the Transition</a></li>
	</ul>
</section>
