<div id="header-wrapper">

	<!-- nav.ejs include -->
	<%- partial("nav") %>

	<% if (current.source === "index") { %>
		<!-- hero.ejs include (home page only) -->
		<%- partial("partials/hero") %>
	<% } %>

</div>