<div id="header" class="container">

	<h1 id="logo">
		<a href="/">
			<img src="/images/npslogo.png" alt="National Payment Systems" width="143" height="60">
		</a>
	</h1>

	<nav id="nav">
		<ul>
			<li>
				<a href="/emv">EMV</a>
			</li>
			<li>
				<a href="/solutions">Solutions</a>
			</li>
			<li>
				<a href="/security">Fraud &amp; Security</a>
			</li>

			<li>
				<a href="/merchant-solutions">Merchant Support</a>
				<ul>
					<li><a href="/merchant-solutions#portal">Online Portal</a></li>
					<li><a href="http://www.pcirapidcomply2.com">PCI Rapid Compliance</a></li>
					<li><a href="/merchant-solutions#doc-submit">Upload Documents</a></li>
				</ul>
			</li>

			<li>
				<a href="/about">Who We Are</a>
			</li>
			<li>
				<a href="/contact">Contact Us</a>
			</li>

		</ul>
	</nav>

</div>
